.places h1{
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
article:nth-last-child(1) {
    margin-left: 25%;
}

.places h2 {
    font-size: 30px;
}