.places h1{
    font-size: 30px;
    text-align: left;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
article:nth-last-child(1) {
    margin-left: 25%;
}

.places h2 {
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}

/* contents inside each box */
.price_by_night {
    color: #FF5A5F;
    border: 5px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 80%;
    margin-top: -3rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.max_guest {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    gap: 2rem;
}

.text {
   
}

.number_rooms {
    width: 100px;
    background: url(../images/icon_bed.png);
    background-repeat: no-repeat;
}

.number_bathrooms {
    width: 100px;
    background: url(../images/icon_bath.png);
    background-repeat: no-repeat;
}
